# Build/Maven #
###############
**/target/


# Eclipse #
###########
.project
.classpath
.settings
**/bin/
.metadata/


# IntelliJ #
############
.idea/
*.iml

# Documentation #
#################
**/tex2pdf.6500/